Source: kdeaccessibility
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: cdbs, debhelper (>= 5), cmake (>= 2.4.5), quilt, kdelibs5-dev (>=4:3.96.0),
 kdebase-workspace-dev (>=4:3.96.0)
Standards-Version: 3.7.2
Homepage: http://accessibility.kde.org

Package: kdeaccessibility
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: accessibility packages from the official KDE release
 KDE is produced by an international technology team that creates free and open
 source software for desktop and portable computing. Among KDE's products are a
 modern desktop system for Linux and UNIX platforms, comprehensive office
 productivity and groupware suites and hundreds of software titles in many
 categories including Internet and web applications, multimedia, entertainment,
 educational, graphics and software development.
 .
 This metapackage includes a collection of programs to make KDE more
 accessible, provided with the official release of KDE.
